.project-container {
    max-width: 1200px;
    margin-bottom: 2%;
    margin-top: 2%;

}
 
.project-container h1 {
    color: var(--color-black);
}
 

.project-container a {
    text-decoration: none;
    color: #5673C8;
}
 
.project-container a:hover {
    color: lightblue;
}

.project-container p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;

}
 

.project-row {
    align-items: center;
    justify-content: center;
}
 

 
.project-column {
    margin-top: 10%;
    padding: 2%;
   display: inline-block;
    width: 50%;
}
 
.project-row:after {
    content: "";
    display: table;
    clear: both;
}
 
/* content decoration */
.project-content {
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #111;
    color: rgb(217, 216, 216);
    padding: 5%;
    height: 420px;
}
.project-content img{
    height: 200px;
   width: 100%;
 
}
.btn-container{
   height:auto;
 
   justify-content: center;
   display:flex;
}

 .btn-container button{
    margin:10px;
 }
/* window size 850 width set */
@media screen and (max-width: 850px) {
    .project-column {
        width: 50%;
    }
    .project-content img{
        height: 100px;
       width: 100%;
     
    }
    .project-content {
        height: 300px;
       width: 100%;
     
    }
}

/* window size 400 width set */
@media screen and (max-width: 400px) {
    .project-column {
        width: 100%;
    }
    .project-content img{
        height: 100px;
       width: 100%;   
    
    }
    .project-content {
        height: 300px;
       width: 100%;
     
    }
}