footer {
  color: #6faaff;
  background-color: #333;
  border-radius: 58% 42% 100% 0% / 30% 100% 0% 70%;
  bottom: 0;
}

footer .row {
  display: flex;
  padding: 1rem;
}

footer .column {
  width: calc(100% / 3);
  padding: 0 0.9375rem;
}

footer h4 {
  margin-bottom: 0.9375rem;
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.3rem;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  margin-bottom: 0.625rem;
}

ul li a {
  color: #6faaff;
  font-size: 1rem;
}

footer ul li i {
  color: #6faaff;
}

footer ul li a:hover {
  color: #fff;
}

footer ul.social-icons {
  display: flex;
  column-gap: 0.625rem;
}

.social-icons i {
  color: white;
}

footer ul.social-icons li {
  margin-bottom: 0rem;
}

footer ul.social-icons li a {
  display: grid;
  place-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: #282828;
}

footer ul.social-icons li:hover a {
  background-color: #6fdeff;
}

.copyright {
  text-align: center;
  color: #fff;
  background-color: #6faaff;
  padding: 0.6rem 0;
}

/* Responsive adjustments */

@media screen and (max-width: 768px) {
  footer .column {
    margin: 0.4rem 0;
    width: 100%;
    padding: 0;
  }

  footer .row {
    display: flex;
    flex-wrap: wrap;
  }

  footer h4 {
    font-size: 1.3125rem;
  }

  footer p {
    font-size: 0.9375rem;
  }

  footer ul li a {
    font-size: 0.9375rem;
  }

  footer ul.social-icons li a {
    width: 1.875rem;
    height: 1.875rem;
  }
}
