/*footer*/
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

#sanity {
  font-size: 25px;
  color: white;
  width: 100px;
  font-family: "Great Vibes", cursive;
  cursor: pointer;
}
#sanity:hover {
  width: 120px;
  transition: 0.5s ease;
  border-bottom: 1px solid goldenrod;
  opacity: 0.8;
}
.footer {
  font-family: "Play", sans-serif;
  text-align: center;
  border-top: 1px solid #333;
}

.footer .footerRow {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .footerRow a {
  text-decoration: none;
  color: #4ba6e7;
  transition: 0.5s;
}

.footer .footerRow a:hover {
  color: #fff;
}
.footer svg {
  font-size: 30px;
}
.footer .footerRow ul {
  width: 100%;
}

.footer .footerRow ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .footerRow a i {
  font-size: 2em;
  margin: 0% 1%;
}
.footer_div p {
  text-align: right;
  padding: 10px;
  background-color: black;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .footerRow ul li {
    display: inline;
    gap: 40px;
  }
  .footer .footerRow svg {
    margin: 0% 3%;
    float: right;
  }
  .row {
    width: 100%;
  }
  .box .input:hover {
    width: 80%;
  }
}
