/*footer*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.footer_div {
  margin-left: auto !important;
  text-align: left;
  padding: 5%;
  font-size: 1px;
  width: 85%
}

footer {
  transition: .20s ease;
  margin: auto;
  color: #a7a7a7;
  font-size: 16px;
}

footer * {

  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}


.row.primary {

  display: grid;
  grid-template-columns: auto auto auto;


}

.column {

  margin-top: 10%;
  width: 100%;
  display: flex;
  height: 100px;
  flex-direction: column;
  padding: 0 2em;
}

footer h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

footer li:not(:first-child) {
  margin-top: 0.8em;
}

footer ul li a {
  color: #a7a7a7;
  text-decoration: none;
}

footer ul li a:hover {
  color: #2a8ded;
}

.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}




div.social {
  display: none;
  margin-left: 5%;
  margin-top: 5%;
  justify-content: left;
  flex-direction: row;

}

.social a {
  margin: 3%;
  background-color: transparent;
  border-radius: 100%;
}


.copyright {
  line-height: 1.5rem;
  padding: 0.3em 1em;
  background-color: #25262e;
}

.footer-menu {
  float: left;
  margin-top: 10px;
}

.footer-menu a {
  color: #cfd2d6;
  padding: 6px;
  text-decoration: none;
}

#sanity {
  font-size: 25px;
  color: white;
  width: 100px;
  font-family: 'Great Vibes', cursive;
  cursor: pointer;
}

#sanity:hover {
  width: 120px;
  transition: .5s ease;
  border-bottom: 1px solid goldenrod;
  opacity: 0.8;
}

.footer-menu a:hover {
  color: #27bcda;
}

.copyright {
  background-color: transparent;
}

.copyright p {
  font-size: 0.9em;
  text-align: right;
}

@media screen and (max-width: 850px) {
  .leftcolumn .title {
    margin-top: 10% !important;

  }

  .footer_div {
    width: 100% !important;
    border: none !important;
  }

  .project-container {
    width: 100% !important;
  }

  .midcolumn {
    border: none !important;
  }

  .social {
    display: flex !important;
  }

  .column {
    width: 100% !important;
    height: 150px !important;
  }

  .row.primary {

    grid-template-columns: 1fr;
  }

  .input {
    width: 100%;
  }

  .leftcolumn {
    display: none !important;
  }

}

/*endfooter*/

/*sticky*/

.icon-bar {
  position: fixed;
  left: 0;
  top: 75%;
  z-index: 10000 !important;

}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.facebook:hover,
.github:hover,
.google:hover {
  opacity: 0.3;
  cursor: pointer;
}

.facebook {
  background: #3B5998;
  color: white;
}


.google {
  background: #dd4b39;
  color: white;
}

.github {
  background: black;

}

/*footerend*/