/*Navbar*/


.app__navbar {
    position: fixed;
    background-color: #161b22;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 50px;
    padding: 2rem 0.7rem;
    z-index: 1000 !important;
  }
  
  .nav-social {
    padding: 1%;
    margin-top: 5%;
    justify-content: left;
    font-size: 2.3em;
    flex-direction: row;
  
  }
  
  .nav-social a {
    margin: 2%;
    background-color: transparent;
    border-radius: 100%;
  }
  
  .app__navbar-logo {
    font-family: 'Great Vibes', cursive;
    display: flex;
    margin-right: 30px;
    justify-content: right;
    justify-content: flex-start;
    align-items: left;
  }
  
  .app__navbar-links {
    flex: 1;
    text-transform: uppercase;
    display: flex;
    justify-content: right;
    list-style: none;
    text-decoration: none;
  
  }
  
  
  .app__navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
    padding: 5px;
  }
  
  .app__navbar-links li:hover {
  
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 10px;
  }
  
  
  
  .app__navbar-smallscreen {
    display: none;
  }
  
  .app__navbar-smallscreen_overlay {
    position: fixed;
    text-align: left;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgb(22, 27, 34);
    backdrop-filter: blur(18px);
    flex-direction: row;
    z-index: 5;
  }
  
  .app__navbar-smallscreen_overlay .overlay__close {
    font-size: 50px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .app__navbar-smallscreen_links {
    margin-top: 30% !important;
    line-height: 20rem;
    margin-left: 5%;
    font-family: 'Bebas Neue', cursive;
    list-style: none;
  }
  
  .app__navbar-smallscreen_links li {
    margin-bottom: 50px !important;
    margin-bottom: 3px;
    cursor: pointer;
    color: white;
    font-size: 3rem;
  }
  
  .app__navbar-smallscreen_links li:active {
    /*For phone clicked :)*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
  }
  
  
  @media screen and (max-width: 1150px) {
    .app__navbar-links {
      display: none;
  
    }
  
    .leftcolumn .title {
      margin-top: 10% !important;
  
    }
  
    .aboutMePage .leftcolumn {
      display: none;
    }
  
  
  
    .footer_div {
      margin-top: 50%;
      width: 100% !important;
    }
  
    .app__navbar-smallscreen {
      display: flex;
    }
  
    .app__navbar {
      position: absolute;
    }
  
    .app__navbar {
      padding: 1rem;
      position: sticky !important;
      top: 0;
      z-index: 100;
    }
  
  }
  
  @media screen and (max-width: 650px) {
    .app__navbar {
      padding: 1rem;
      position: sticky !important;
      top: 0;
      z-index: 100;
    }
  
  }
  
  /*endnavbar*/