@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");
h1 {
  margin-top: 100px;
}

.toggle,
[id^="drop"] {
  display: none;
}
nav {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  z-index: 10000;
}
video {
  z-index: 100000000 !important;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  display: block;
  margin: 0 auto;
  list-style: none;
  position: relative;
  width: 100%;
  margin-bottom: 2%;
  z-index: 1000;
}

nav ul li {
  margin: 0px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 100;
}

nav a {
  display: block;
  padding: 0 20px;
  color: #fff;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

nav ul li ul li:hover {
  background: #333;
}
nav ul li ul ul li {
  background: #000000;
}

nav li:hover {
  background-color: #333;
}
nav ul li {
  background: linear-gradient(180deg, #292f33, #1c1c1c);
}
nav ul li li a {
  background-color: #292f33;
  border-bottom: 1px solid #b0903d;
  border-bottom: 1px solid transparent;

  transition: 0.3s ease;
}
nav ul li li a:hover {
  color: #b0903d;
}
nav ul li a:hover {
  background-color: #292f33;
  color: #fff;
  transition: background-color 0.3s ease;
}
#worldsLink {
  background-color: #212121;
}
#worlds a {
  background-color: #292f33;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
  z-index: 100000000000;
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul ul li {
  width: 200px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 200px;
}
nav ul ul ul {
  width: 30px;
}
nav li > a:after {
  content: " +";
}

li > a:only-child:after {
  content: "";
}

/* Media Queries
--------------------------------------------- */

@media all and (max-width: 940px) {
  .author-div {
    width: 100% !important;
  }
  .profile-info {
    padding: 8%;
  }
  .hamburger-icon {
    width: 50% !important;
    position: relative;
  }
  article header {
    padding-left: 5% !important;
    font-size: 15px;
    margin-bottom: 5% !important;

    background: linear-gradient(#262626, #333, rgb(0, 0, 0, 0.03));
    top: 10px !important;
    right: 0 !important;
    padding-bottom: 0;
  }
  .postPage .midcolumn {
    margin-top: 35% !important;
    padding: 0 !important;
    padding: 5%;
  }
  .post_text {
    padding: 5%;
  }
  .donate-popup {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    margin: auto;
    background-color: #ffff;
    padding: 5%;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    z-index: 9999;
    animation: button-animation 0.5s ease-in-out;
    border: 4px solid #b0903d;
    border-radius: 1% !important;
    font-size: 17px;
    justify-content: center;
    align-items: center;
  }
  .donate-popup p {
    color: #262626;
    width: 100%;
    margin: auto;
  }
  .donate-popup ul {
    color: #262626;
    width: 100%;
    margin: auto;
  }
  .donate-popup .donate-button {
    width: 100px;
    height: 30px;
    padding: 1%;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0099ff;
  }
  #last-p {
    margin-bottom: 15% !important;
  }
  .donate-popup .close {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: transparent;
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
  }
  nav ul li li a {
    width: 100%;
    border-bottom: 1px solid rgb(69, 68, 68);
    box-shadow: 5px 15px 15px 1px #212121;
    margin: auto;
    transition: 0.3s ease;
  }
  .siteLogo {
    top: 30px !important;
  }
  .bg {
    background-size: min(100%, 100vw) !important;
    background-position: top;
    background-repeat: no-repeat;
    height: 45vh !important;
  }
  .postPage .post_text {
    margin-top: 50%;
  }
  article header {
    margin-top: 0% !important;
    z-index: 1 !important;
  }
  html {
    scroll-behavior: auto;
  }
  #sideNav {
    width: 60% !important;
    top: 30px !important;
    left: 0px !important;
  }
  .siteLogo {
    position: absolute;
    top: 0 !important;
    right: 0 !important;
  }
  .search-field {
    min-width: 55% !important;
  }
  nav ul li {
    background: transparent;
  }

  nav {
    background-color: #212121;
    padding: 3%;
    position: absolute;

    top: 0;
    margin: 0px !important;
    z-index: 1000;
    width: 100%;
    transition: 1s ease;
  }
  #siteLogo {
    display: block !important;
  }
  nav ul ul ul {
    width: 100%;
  }
  .toggle + a,
  .menu {
    display: none;
  }

  .burger {
    position: relative;
    justify-self: end;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    width: 1.6rem;
    height: 1.15rem;
    border: none;
    outline: none;
    background: none;
    visibility: visible;
    transform: rotate(0deg);
    transition: 0.35s ease;

    // Responsive Media Query

    &-line {
      position: absolute;
      display: block;
      right: 0;
      width: 100%;
      height: 2.1px;
      border: none;
      outline: none;
      opacity: 1;
      border-radius: 1rem;
      transform: rotate(0deg);
      background-color: #b0903d;
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2) {
        top: 0rem;
        width: 90%;
      }
      &:nth-child(3) {
        top: 0.6rem;
      }
      &:nth-child(4) {
        top: 1rem !important;
        background-color: transparent !important;
      }
    }

    &.is-active .burger-line {
      &:nth-child(1) {
        top: 0.5rem;
        transform: rotate(135deg);
      }
      &:nth-child(2) {
        opacity: 0;
        visibility: hidden;
      }
      &:nth-child(3) {
        top: 0.5rem;
        transform: rotate(-135deg);
      }
    }
  }

  .toggle {
    display: block;
    padding: 0 20px;
    color: #fff;
    font-size: 22px;
    line-height: 60px;
    text-decoration: none;
    border: none;
  }

  .toggle:hover {
    background-color: #b0903d;
  }

  [id^="drop"]:checked + ul {
    display: block;
    width: 100%;
  }

  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav a:hover,
  nav ul ul ul a {
    background-color: #000000;
  }

  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #212121;
  }

  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
  }

  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
  }
}

@media all and (max-width: 330px) {
  nav ul li {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 940px) {
  .navigation-menu {
    font-family: "Metal Mania", cursive;
    height: auto;
    align-items: center;
    width: 60% !important;
    transition: 1s ease;
    background-color: transparent;
    margin: 12px auto !important;
  }

  .main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 !important;

    border: none;
    transition: 1s ease;
  }

  .hamburger-icon {
    display: none;
  }

  #menu-toggle:checked + .main-navigation {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .bg {
    background-size: min(100%, 100vw) !important;
    background-position: top;
    background-repeat: no-repeat;
    height: 25vh !important;
  }
}
#menu-open,
#menu-close {
  color: inherit;
  display: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;
}

#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 80%;
  background: #b0903d;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
  width: 100%;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 15px;
  width: 80% !important;
}

#nav-icon3 span:nth-child(4) {
  top: 30px;
  width: 100%;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
